ackermann-msgs==2.0.2
action-msgs==2.0.3
action-tutorials-interfaces==0.33.9
action-tutorials-py==0.33.9
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiohttp-cors==0.8.1
aiosignal==1.4.0
ament-cmake-test==2.5.5
ament-copyright==0.17.4
ament-cppcheck==0.17.4
ament-cpplint==0.17.4
ament-flake8==0.17.4
ament-index-python==1.8.2
ament-lint==0.17.4
ament-lint-cmake==0.17.4
ament-package==0.16.5
ament-pep257==0.17.4
ament-uncrustify==0.17.4
ament-xmllint==0.17.4
angles==1.16.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
appdirs==1.4.4
asttokens==3.0.1
async-lru==2.2.0
async-timeout==5.0.1
attrs==25.4.0
beartype==0.15.0
bleach==6.3.0
bokeh==3.8.2
bond==4.1.2
boto3==1.42.58
botocore==1.42.58
builtin-interfaces==2.0.3
cartographer-ros-msgs==2.0.9003
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
comm==0.2.3
composition-interfaces==2.0.3
contourpy==1.3.2
control-msgs==5.7.0
controller-manager==4.42.2
controller-manager-msgs==4.42.2
cryptography==46.0.5
cv-bridge==4.1.0
decorator==5.2.1
deltalake==0.17.4
demo-nodes-py==0.33.9
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.6
diskcache==5.6.3
domain-coordinator==0.12.0
dwb-msgs==1.3.10
example-interfaces==0.12.0
examples-rclpy-executors==0.19.7
examples-rclpy-minimal-action-client==0.19.7
examples-rclpy-minimal-action-server==0.19.7
examples-rclpy-minimal-client==0.19.7
examples-rclpy-minimal-publisher==0.19.7
examples-rclpy-minimal-service==0.19.7
examples-rclpy-minimal-subscriber==0.19.7
exceptiongroup==1.3.1
executing==2.2.1
fastapi==0.133.1
frozenlist==1.8.0
fs==2.4.16
generate-parameter-library-py==0.6.0
geographic-msgs==1.0.6
geographiclib==2.1
geometry-msgs==5.3.6
geopy==2.4.1
gitdb==4.0.12
GitPython==3.1.46
google-api-core==2.30.0
google-api-python-client==2.190.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-cloud-bigquery==3.29.0
google-cloud-core==2.5.0
google-cloud-pubsub==2.35.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
gps-msgs==2.1.1
greenlet==3.3.2
grpc-google-iam-v1==0.14.3
grpcio==1.78.0
grpcio-status==1.78.0
h11==0.16.0
h3==4.4.2
httplib2==0.31.2
idna==3.11
image-geometry==4.1.0
importlib_metadata==8.7.1
interactive-markers==2.5.5
ipython==8.38.0
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jupyter_bokeh==4.0.5
jupyterlab_widgets==3.0.16
laser-geometry==2.7.2
launch==3.4.10
launch-ros==0.26.11
launch-testing==3.4.10
launch-testing-ros==0.26.11
launch-xml==3.4.10
launch-yaml==3.4.10
lifecycle-msgs==2.0.3
linkify-it-py==2.0.3
logging-demo==0.33.9
map-msgs==2.4.1
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
message-filters==4.11.10
multidict==6.7.1
narwhals==2.17.0
nav-2d-msgs==1.3.10
nav-msgs==5.3.6
nav2-common==1.3.10
nav2-msgs==1.3.10
nav2-simple-commander==1.0.0
networkx==3.4.2
numpy==2.2.6
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
osrf-pycommon==2.1.7
packaging==26.0
pal-statistics==2.7.0
pal-statistics-msgs==2.7.0
pandas==2.3.3
panel==1.8.7
param==2.3.2
parso==0.8.6
pathway==0.29.1
pcl-msgs==1.0.0
pendulum-msgs==0.33.9
pexpect==4.9.0
pillow==12.1.1
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.1
protobuf==6.33.5
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==18.1.0
pyarrow-hotfix==0.7
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
python-qt-binding==2.2.2
python-sat==1.9.dev1
pytz==2025.2
pyviz_comms==3.0.6
PyYAML==6.0.3
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
quality-of-service-demo-py==0.33.9
rcl-interfaces==2.0.3
rclpy==7.1.9
rcutils==6.7.5
requests==2.32.5
resource-retriever==3.4.4
rich==14.3.3
rmw-dds-common==3.1.1
robot-localization==3.8.3
ros-gz-bridge==1.0.18
ros-gz-interfaces==1.0.18
ros-gz-sim==1.0.18
ros2action==0.32.8
ros2bag==0.26.9
ros2bag-mcap-cli==0.26.9
ros2bag-sqlite3-cli==0.26.9
ros2cli==0.32.8
ros2component==0.32.8
ros2controlcli==4.42.2
ros2doctor==0.32.8
ros2interface==0.32.8
ros2launch==0.26.11
ros2lifecycle==0.32.8
ros2multicast==0.32.8
ros2node==0.32.8
ros2param==0.32.8
ros2pkg==0.32.8
ros2plugin==5.4.4
ros2run==0.32.8
ros2service==0.32.8
ros2topic==0.32.8
rosbag2-interfaces==0.26.9
rosbag2-py==0.26.9
rosgraph-msgs==2.0.3
rosidl-adapter==4.6.7
rosidl-cli==4.6.7
rosidl-cmake==4.6.7
rosidl-generator-c==4.6.7
rosidl-generator-cpp==4.6.7
rosidl-generator-py==0.22.2
rosidl-generator-type-description==4.6.7
rosidl-parser==4.6.7
rosidl-pycommon==4.6.7
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.3
rosidl-typesupport-fastrtps-cpp==3.6.3
rosidl-typesupport-introspection-c==4.6.7
rosidl-typesupport-introspection-cpp==4.6.7
-e git+https://github.com/mohan27042007/rover_ws.git@e4f9ad12bb4bf6dd256979bc59cea701cedb84ab#egg=rover_perception&subdirectory=build/rover_perception
rpyutils==0.4.2
rqt-action==2.2.1
rqt-bag==1.5.6
rqt-bag-plugins==1.5.6
rqt-console==2.2.2
rqt-graph==1.5.6
rqt-gui==1.6.3
rqt-gui-py==1.6.3
rqt-msg==1.5.2
rqt-plot==1.4.5
rqt-publisher==1.7.3
rqt-py-common==1.6.3
rqt-py-console==1.2.3
rqt-reconfigure==1.6.3
rqt-service-caller==1.2.2
rqt-shell==1.2.3
rqt-srv==1.2.3
rqt-topic==1.7.5
s3transfer==0.16.0
scikit-learn==1.7.2
scipy==1.15.3
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
service-msgs==2.0.3
shape-msgs==5.3.6
shapely==2.1.2
simulation-interfaces==1.2.0
six==1.17.0
slam-toolbox==2.8.3
smclib==4.1.2
smmap==5.0.2
SQLAlchemy==2.0.47
sqlmodel==0.0.37
sros2==0.13.5
stack-data==0.6.3
starlette==0.52.1
statistics-msgs==2.0.3
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
teleop-twist-keyboard==2.4.1
tf-transformations==1.1.0
tf2-geometry-msgs==0.36.19
tf2-kdl==0.36.19
tf2-msgs==0.36.19
tf2-py==0.36.19
tf2-ros-py==0.36.19
tf2-sensor-msgs==0.36.19
tf2-tools==0.36.19
theora-image-transport==4.0.6
threadpoolctl==3.6.0
topic-monitor==0.33.9
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
trajectory-msgs==5.3.6
turtlesim==1.8.3
twist-mux-msgs==3.0.1
type-description-interfaces==2.0.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
unique-identifier-msgs==2.5.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.41.0
vision-msgs==4.1.1
visualization-msgs==5.3.6
wcwidth==0.6.0
webencodings==0.5.1
widgetsnbextension==4.0.15
xacro==2.1.1
xyzservices==2025.11.0
yarl==1.22.0
zipp==3.23.0
